
{% set row = "row pb-1"%}
{% set col_left = "col-md-4 col-12 alert-" %}
{% set col_right = "col-md-8 col-12" %}

{% set agreement = dispData.get("myAgreement") %}
{% set bidStatus = dispData.get("bidStatus") %}
{% set incident = dispData.get("incident") %}
{% set score = dispData.get("score") %}
{% set myBid = dispData.get("myBid", {"bidAmount" : "-"}) %}
{% set successfulBid = dispData.get("successfulBid", {"bidAmount" : "-"}) %}
{% set contents = [
             {"left" : "証券番号", "right" : agreement.get("policyId"), "design" : "success"}
             ,{"left" : "契約者", "right" : agreement.get("contractor"), "design" : "success"}
             ,{"left" : "IoT No.", "right" : agreement.get("iot"), "design" : "success"}
             ,{"left" : "始期日", "right" : agreement.get("StartDate"), "design" : "success"}
             ,{"left" : "満期日", "right" : agreement.get("endDate"), "design" : "success"}
             ,{"left" : "住所", "right" : agreement.get("address"), "design" : "success"}
             ,{"left" : "入札状況", "right" : bidStatus.get("status"), "design" : "success"} 
             ,{"left" : "落札会社", "right" : bidStatus.get("constructionCompany"), "design" : "primary"}
             ,{"left" : "落札額", "right" : successfulBid.get("bidAmount"), "design" : "primary"}
             ,{"left" : "調査状況", "right" : incident.get("status"), "design" : "success"}
              ]
%}
<div class="container">
  {{macro.actionArea_top("primary", "契約情報", "feedback", "post", "col-md-6 col-12")}}
  {% for c in contents %}
    <div class="{{row}}">
      <div class="{{col_left}}{{c.get("design")}}">{{c.get("left")}}</div>
      <div class="{{col_right}}">{{c.get("right")}}</div>
    </div>
  {% endfor %}
    <div class="{{row}}">
      <div class="{{col_left}}success">入札額</div>
      <div class="{{col_right}}">
        {{myBid.get("bidAmount")}}
      </div>
    </div>
  {% if bidStatus.get("status") == "落札済" %}
    <div class="{{row}}">
      <div class="{{col_left}}success">フィードバック</div>
      <div class="{{col_right}}">
  {% if score == None %}
        <select class="form-control" name="score">
        <option value="1">★☆☆☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="3">★★★☆☆</option>
        <option value="4">★★★★☆</option>
        <option value="5">★★★★★</option>
        </select>
  {% else %}
    {% for i in range(score) %}★{% endfor%}
  {% endif %}
        <input type="hidden" name="incident" value="{{agreement.get('policyId') + "-" + agreement.get('iot')[3:] }}">
        <input type="hidden" name="company" value="{{value}}">
      </div>
    </div>
  {% if score == None %}
    {{macro.actionArea_bottom("送信")}}
  {% endif %}
  {% endif %}
</div>
<br>

