{% extends "layout.html" %}
{% block body %}

{% include "customer/header.html" %}

{% set row = "row pb-1"%}
{% set col_left = "col-md-4 col-12 alert-" %}
{% set col_right = "col-md-8 col-12" %}

{% set agreement = dispData.get('myAgreement') %}
{% set myIncidents = dispData.get('myIncidents') %}
{% set path = "/customer/" %}
{% set cols = ["status", "status_const", "status_incident"] %}
{% set links = [{"name" : "policyId", "path" : path + "policyId" + "?companyName=" + companyName + "&policyId=", }] %}
{% set designs = [{"value" : "契約なし", "design" : "secondary"}
                 ,{"value" : "正常", "design" : "success"}
                 ,{"value" : "危険", "design" : "danger"}
                 ]
%}
{% set contents = [
             {"left" : "証券番号", "right" : agreement.get("policyId"), "design" : "success"}
             ,{"left" : "契約者", "right" : agreement.get("contractor"), "design" : "success"}
             ,{"left" : "IoT No.", "right" : agreement.get("iot"), "design" : "success"}
             ,{"left" : "始期日", "right" : agreement.get("StartDate"), "design" : "success"}
             ,{"left" : "満期日", "right" : agreement.get("endDate"), "design" : "success"}
             ,{"left" : "住所", "right" : agreement.get("address"), "design" : "success"}
              ]
%}

<div class="col-md-6 col-12">
  <div class="card bg-light">
    <div class="card-header">契約情報</div>
    <div class="card-body">
      <div class="container">
        {% for c in contents %}
        <div class="{{row}}">
           <div class="{{col_left}}{{c.get('design')}}">{{c.get("left")}}</div>
          <div class="{{col_right}}">{{c.get("right")}}</div>
        </div>
        {% endfor %}
        {% for c in myIncidents %}
        <div class="{{row}}">
          <div class="{{col_left}}primary">インシデントID</div>
          <div class="{{col_right}}"><a href="/customer/incidentId?incidentId={{c.get("incidentId")}}&companyName={{companyName}}">{{c.get("incidentId")}}</a></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

