<div class="container">
  <div class="row">
    <div class="col-md-1 col-3">
      <img src="{{url_for('static', filename='son_icon.png')}}" alt={{ title }} width="50" height="50"/>
    </div>
    <div class="col-md-6 col my-auto">
      <h1><a href="/customer?companyName={{companyName}}">お客様ページ：{{companyName}}様</a></h1>
    </div>
  </div>
</div>

