{% include "admin/menu.html" %}
<div class="container">
  <div class="row pb-1">
{#    {{macro.actionArea_top("success", "契約を締結", "addAgreements", "post")}}
        <select class="form-control" name="contractor">
        <option value="Person001">Person001</option>
        <option value="Person002">Person002</option>
        <option value="Person003">Person003</option>
        </select>
        <br>
        <select class="form-control" name="iot">
        <option value="IOT001">IOT001</option>
        <option value="IOT002">IOT002</option>
        <option value="IOT003">IOT003</option>
        <option value="IOT004">IOT004</option>
        <option value="IOT005">IOT005</option>
        <option value="IOT006">IOT006</option>
        <option value="IOT007">IOT007</option>
        </select>
        <hr>
    {{macro.actionArea_bottom("契約追加")}}

    {{macro.actionArea_top("primary", "地震を起こす", "addAccidents", "post")}}
        <select class="form-control" name="iotHouse">
        <option value="IOT001">IOT001</option>
        <option value="IOT002">IOT002</option>
        <option value="IOT003">IOT003</option>
        </select>
        <hr>
    {{macro.actionArea_bottom("地震発生")}}

    {{macro.actionArea_top("success", "被災状況の入力", "addInvestigates", "post")}}
        <select class="form-control" name="incident">
        <option value="p1-001">p1-001</option>
        <option value="p1-002">p1-002</option>
        <option value="p1-003">p1-003</option>
        <option value="p1-004">p1-004</option>
        </select>
        <select class="form-control" name="status">
        <option value="onCorrespond">工事要</option>
        <option value="notCompatible">工事不要</option>
        </select>
        <select class="form-control" name="organization">
        <option value="Org1">将彦調査</option>
        <option value="Org2">充調査</option>
        <option value="Org3">真美子調査</option>
        <option value="Org4">あすか調査</option>
        <option value="Org5">暁調査</option>
        </select>
        <hr>
    {{macro.actionArea_bottom("被災状況の登録")}}

    {{macro.actionArea_top("primary", "入札", "bid", "post")}}
        <select class="form-control" name="company">
        <option value="Company001">堀切建設</option>
        <option value="Company002">大金建設</option>
        <option value="Company003">山口建設</option>
        <option value="Company004">小野間建設</option>
        <option value="Company005">柿沼建設</option>
        </select>
        <select class="form-control" name="constructionInformation">
        <option value="CT-p1-001">CT-p1-001</option>
        <option value="CT-p1-002">CT-p1-002</option>
        <option value="CT-p2-001">CT-p2-001</option>
        <option value="CT-p2-002">CT-p2-002</option>
        </select>
        <input type="number" name="bidAmount" value="1000000">
        <hr>
    {{macro.actionArea_bottom("入札")}}
#}
    {{macro.actionArea_top("success", "落札", "closeBidding", "post")}}
        <select class="form-control" name="information">
        <option value="CT-p1-001">CT-p1-001</option>
        <option value="CT-p2-001">CT-p2-001</option>
        </select>
    {{macro.actionArea_bottom("落札")}}
{#
    {{macro.actionArea_top("primary", "フィードバック", "feedback", "post")}}
        <select class="form-control" name="incident">
        <option value="p1-001">p1-001</option>
        <option value="p1-002">p1-002</option>
        <option value="p2-001">p2-001</option>
        <option value="p2-002">p2-002</option>
        </select>
        <select class="form-control" name="score">
        <option value="1">★☆☆☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="3">★★★☆☆</option>
        <option value="4">★★★★☆</option>
        <option value="5">★★★★★</option>
        </select>
        <hr>
    {{macro.actionArea_bottom("送信")}}
#}
  </div>
</div>
<br>

