<div class="container">
  <div class="row">
    {{macro.infoArea_top("success", "建設会社", ["会社ID","会社名","満足度"])}}
    {{macro.infoArea_content(responses["constCompanies"])}}
    {{macro.infoArea_top("success", "保険会社", ["会社名"])}}
    {{macro.infoArea_content(responses["insuranceCompanies"])}}
    {{macro.infoArea_top("primary", "査定機関", ["ID","会社名"])}}
    {{macro.infoArea_content(responses["assessmentOrgs"])}}
    {{macro.infoArea_top("success", "保険契約者", ["契約者番号","氏名"])}}
    {{macro.infoArea_content(responses["contractors"])}}
    {{macro.infoArea_top("primary", "IoTの状況", ["ID","Status"])}}
    {{macro.infoArea_content(responses["iotHouses"])}}
    {{macro.infoArea_top("success", "IoT契約", ["ID","契約者","IOT","始期","満期","住所"], "col-md-6 col-12")}}
    {{macro.infoArea_content(responses["agreements"])}}
    {{macro.infoArea_top("primary", "インシデント", ["IOT契約No", "ID", "状況", "事故日"])}}
    {{macro.infoArea_content(responses["incidents"])}}
    {{macro.infoArea_top("primary", "地震", ["IOT","発生日"])}}
    {{macro.infoArea_content(responses["accidents"])}}
    {{macro.infoArea_top("success", "被災状況", ["インシデントID","No","査定機関","status"])}}
    {{macro.infoArea_content(responses["investigations"])}}
    {{macro.infoArea_top("success", "工事情報", ["ID","status"])}}
    {{macro.infoArea_content(responses["ConstructionInformations"])}}
    {{macro.infoArea_top("primary", "入札情報", ["ID","会社","入札額","入札日","落札"], "col-md-9 col-12")}}
    {{macro.infoArea_content(responses["constructionBid"])}}
  </div>
</div>

