<h2>管理画面</h2>
<div class="container">
  <div class="row pb-1">
    {{macro.largeButton("warning", "情報取得", "info", "get")}}
    {{macro.largeButton("warning", "1週目SetUp", "SetUpDemo", "get")}}
    {{macro.largeButton("warning", "2週目SetUp", "secondSetUp", "get")}}
  </div>
  <hr>
{#  <div class="row pb-1">
    <div class="col">損保webサイト</div>
  </div>
  <div class="row pb-1">
    <div class="col">デモ対象外（IoT契約締結はここから行う）</div>
  </div>
  <div class="row pb-1">
    {{macro.companyButton("secondary", "前田", "損保", "sonpo", "get")}}
  </div>
  <hr>
#}
  <div class="row pb-1">
    <div class="col">調査会社webサイト</div>
  </div>
  <div class="row pb-1">
    <div class="col">デモ対象外（調査結果の入力はここから行う）</div>
  </div>
  <div class="row pb-1">
    {% for e in ['将彦', '充', '真美子']  %}
       {{macro.companyButton("secondary", e, "調査", "investigator", "get")}}
    {% endfor %}
  </div>
  <hr>
  <div class="row pb-1">
    <div class="col">建設会社webサイト</div>
  </div>
  <div class="row pb-1">
    <div class="col">デモ対象（入札機能）</div>
  </div>
  <div class="row">
    {% for e in ['堀切', '大金', '山口']%}
       {{macro.companyButton("primary", e, "建設", "const", "get")}}
    {% endfor %}
  </div>
  <hr>
  <div class="row pb-1">
    <div class="col">お客様ページ</div>
  </div>
  <div class="row pb-1">
    <div class="col">デモ対象（各画面の遷移）</div>
  </div>
  <div class="row pb-1">
    {% for e in ['前田']%}
       {{macro.companyButton("success", e, "", "customer", "get")}}
    {% endfor %}
  </div>
{#  <hr>
  <div class="row pb-1">
    <div class="col">管理者画面</div>
  </div>
  <div class="row pb-1">
    <div class="col">デモ対象外（契約の締結・地震発生・落札はここから行う）</div>
  </div>
  <div class="row pb-1">
    {{macro.largeButton("secondary", "管理者", "admin", "get")}}
  </div>
#}
  </div>
</div>
<hr>
