<div class="container">
  <div class="row">
    {{macro.actionArea_top("success", "被災状況の入力", "addInvestigates", "post")}}
        <select class="form-control" name="incident">
        <option value="p1-001">p1-001</option>
        <option value="p1-002">p1-002</option>
        <option value="p1-003">p1-003</option>
        <option value="p1-004">p1-004</option>
        <option value="p2-001">p2-001</option>
        <option value="p2-002">p2-002</option>
        <option value="p2-003">p2-003</option>
        <option value="p2-004">p2-004</option>
        </select>
        <select class="form-control" name="status">
        <option value="onCorrespond">工事要</option>
        <option value="notCompatible">工事不要</option>
        </select>
{% if companyName == "将彦" %}
{% set value = "Org1" %}
{% elif companyName == "充" %}
{% set value = "Org2" %}
{% elif companyName == "真美子" %}
{% set value = "Org3" %}
{% elif companyName == "あすか" %}
{% set value = "Org4" %}
{% elif companyName == "暁" %}
{% set value = "Org5" %}
{% endif %}
        <input type="hidden" name="organization" value="{{value}}">
        <input type="hidden" name="companyName" value="{{companyName}}">
        <hr>
    {{macro.actionArea_bottom("登録")}}
  </div>
</div>
<br>

