{% extends "layout.html" %}
{% block body %}

{% include "investigate/header.html" %}

<div class="container">
  <div class="row">
    {{task}} に失敗しました。
    {{errorMessage}}
  </div>
</div>

</table>
{% endblock %}

