{% extends "layout.html" %}
{% block body %}

{% include "investigate/header.html" %}
{% include "investigate/action.html" %}

<div class="container">
  <div class="row">
    {{macro.infoArea_top("primary", "IoTの状況", ["ID","Status"])}}
    {{macro.infoArea_content(responses["iotHouses"])}}
    {{macro.infoArea_top("success", "IoT契約", ["ID","契約者","IOT","始期","満期","住所"], "col-md-6 col-12")}}
    {{macro.infoArea_content(responses["agreements"])}}
    {{macro.infoArea_top("primary", "インシデント", ["IOT契約No", "ID", "状況", "事故日"])}}
    {{macro.infoArea_content(responses["incidents"])}}
    {{macro.infoArea_top("primary", "地震", ["IOT","発生日"])}}
    {{macro.infoArea_content(responses["accidents"])}}
    {{macro.infoArea_top("success", "被災状況", ["インシデントID","No","査定機関","status"])}}
    {{macro.infoArea_content(responses["investigations"])}}
  </div>
</div>

{% endblock %}

