
{% set amount = "1000000" %}
{% if companyName == "堀切" %}
  {% set value = "Company001" %}
  {% set amount = "900000" %}
{% elif companyName == "大金" %}
  {% set value = "Company002" %}
{% elif companyName == "山口" %}
  {% set value = "Company003" %}
  {% set amount = "1100000" %}
{% elif companyName == "小野間" %}
  {% set value = "Company004" %}
{% elif companyName == "柿沼" %}
  {% set value = "Company005" %}
{% endif %}

{% set row = "row pb-1"%}
{% set col_left = "col-md-4 col-12 alert-" %}
{% set col_right = "col-md-8 col-12" %}
{% set incident = data_dict.get("incident") %}
{% set agreement = data_dict.get("agreement") %}
{% set bidStatus = data_dict.get("bidStatus") %}
{% set myBid = data_dict.get("myBid", {"bidAmount" : "-"}) %}
{% set successfulBid = data_dict.get("successfulBid", {"bidAmount" : "-"}) %}
{% set contents = [
              {"left" : "インシデントID", "right" : incident.get("incidentId"), "design" : "success"}
             ,{"left" : "IoT契約No.", "right" : incident.get("insurancepolicy"), "design" : "success"}
             ,{"left" : "調査状況", "right" : incident.get("status"), "design" : "success"}
             ,{"left" : "契約者", "right" : agreement.get("contractor"), "design" : "success"}
             ,{"left" : "IoT No.", "right" : agreement.get("iot"), "design" : "success"}
             ,{"left" : "始期日", "right" : agreement.get("StartDate"), "design" : "success"}
             ,{"left" : "満期日", "right" : agreement.get("endDate"), "design" : "success"}
             ,{"left" : "住所", "right" : agreement.get("address"), "design" : "success"}
             ,{"left" : "入札状況", "right" : bidStatus.get("status"), "design" : "success"}
             ,{"left" : "落札会社", "right" : bidStatus.get("constructionCompany"), "design" : "primary"}
             ,{"left" : "落札額", "right" : successfulBid.get("bidAmount"), "design" : "primary"}
              ]
%}
<div class="container">
{{macro.actionArea_top("primary", "入札", "bid", "post", "col-md-6 col-12")}}
{% for c in contents %}
  <div class="{{row}}">
    <div class="{{col_left}}{{c.get("design")}}">{{c.get("left")}}</div>
    <div class="{{col_right}}">{{c.get("right")}}</div>
  </div>
{% endfor %}
  <div class="{{row}}">
    <div class="{{col_left}}success">入札額</div>
    <div class="{{col_right}}">
  {% if bidStatus.get("status") == "入札待ち" %}
      <input type="number" name="bidAmount" value="{{amount}}">
  {% else %}
      {{myBid.get("bidAmount")}}
  {% endif %}
    </div>
  </div>
  <input type="hidden" name="constructionInformation" value="CT-{{incidentId}}">
  <input type="hidden" name="company" value="{{value}}">
  <input type="hidden" name="companyName" value="{{companyName}}">
  {% if bidStatus.get("status") == "入札待ち" %}
  {{macro.actionArea_bottom("入札")}}
  {% endif %}
</div>
<br>

