{% extends "layout.html" %}
{% block body %}

{% include "/const/header.html" %}
  <div class="container">
    <div class="row">
      {{task}} が完了しました。
      ↑の会社名をクリックしてインシデント一覧にお戻りください。
    </div>
  </div>
</table>

{% endblock %}

