{% extends "layout.html" %}
{% block body %}

{% include "const/header.html" %}

<div class="container">
  <div class="row">
    {{macro.infoArea_top("primary", "インシデント", ["ID", "IOT契約No", "調査状況", "事故日","入札状況"], "col-md-9 col-12")}}
    {{macro.infoArea_content(responses["incidents"], "/const/", companyName)}}

  </div>
</div>

{% endblock %}

