{% extends "layout.html" %}
{% block body %}
<h1> iot house </h1>

{% include "header.html" %}

<div class="container">
  <div class="row">
    {{task}} が完了しました。
  </div>
</div>

</table>
{% endblock %}

