{# ただの大きいボタン #}
{% macro largeButton(design, label, api, method) %}
  <div class="col-md-2 col-6 pb-1">
    <form action="/{{api}}" method="{{method}}">
      <button type="submit" class="btn btn-block btn-{{design}}">{{label}}</button>
    </form>
  </div>
{% endmacro %}

{# 損保・調査会社遷移用のボタン #}
{% macro companyButton(design, companyName, companyType, api, method) %}
  <div class="col-md-2 col-6 pb-1">
    <form action="/{{api}}" method="{{method}}">
      <input type="hidden" name="companyName" value={{companyName}}>
      <button type="submit" class="btn btn-block btn-{{design}}">{{companyName}}{{companyType}}</button>
    </form>
  </div>
{% endmacro %}

{# 画面丈夫のアクションエリアの上部 #}
{% macro actionArea_top(design, title, api, method, col_width="col-md-2 col-6") %}
  <div class="{{col_width}}">
    <div class="card bg-light">
      <div class="card-header">{{title}}</div>
      <div class="card-body">
        <form action="/{{api}}" method="{{method}}">
{% endmacro %}

{# 画面丈夫のアクションエリアの下部 #}
{% macro actionArea_bottom(button) %}
          <div class="row">
            <div class="col-md-3 col-4 pt-2 mx-auto">
              <button type="submit">{{button}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}

{# 情報取得したときのエリアの上部 #}
{% macro infoArea_top(design, title, header_columns, col_width="col-md-3 col-12") %}
    <div class="{{col_width}} alert alert-{{design}} px-md-2 px-1 mx-1" role="alert">
      <h5 class="alert-heading">{{title}}</h5>
      <table border="1" class="bg-white">
        <tr>
          {% for hc in header_columns %}
          <th class="bg-dark text-white">{{hc}}</th>
          {% endfor %}
        </tr>
{% endmacro %}

{# 情報取得したときのエリアのコンテンツ部 #}
{% macro infoArea_content(response_obj, path="", companyName="") %}
{% set cols = ["status", "status_const", "status_incident"] %}
{% set links = [{"name" : "incidentId", "path" : path + "incidentId" + "?companyName=" + companyName + "&incidentId=", }] %}
{% set designs = [{"value" : "契約なし", "design" : "secondary"}
                 ,{"value" : "正常", "design" : "success"}
                 ,{"value" : "危険", "design" : "danger"}
                 ,{"value" : "工事不要", "design" : "secondary"}
                 ,{"value" : "工事要", "design" : "danger"}
                 ,{"value" : "落札済", "design" : "secondary"}
                 ,{"value" : "入札済", "design" : "primary"}
                 ,{"value" : "入札待ち", "design" : "success"}
                 ]
%}
      {% for data in response_obj.json_response %}
        <tr>
          {% for col in response_obj.cols %}
            <td>
              {# ステータスは色をつける  #}
                {% if col in cols %}
                  {% for design in designs %}
                    {% if data[col] == design.get("value")%}
                      <span class="badge badge-{{design.get("design")}}">
                    {% endif %}
                  {% endfor %}
                {% endif %}

              {# リンクをつける #}
                {% if path != "" %}
                  {% for link in links %}
                    {% if col == link.get("name") %}
                      {% set path = link.get("path") + data[col] %}
                      <a href="{{path}}">
                      {% set flg = False %}
                    {% endif %}
                  {%endfor%}
                {% endif %}
              {# リンクなし #}
                  {{data[col]}}
              {# リンクをつける #}
                {% if path != "" %}
                    </a>
                {% endif %}
              {# ステータスは色をつける  #}
                {% if col in cols %}
                  </span>
                {% endif %}
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
{% endmacro %}

