<h3>ご協力依頼内容</h3>
<div class="col-12">デモへのご協力ありがとうございます。</div>
<div class="col-12">下記デモシナリオの「建設会社」役として、「5」「10」の入札をお願いします。</div>
<div class="col-12">2回の入札とも、画面上にデフォルト表示された額で、そのまま「入札」してください。</div>
<hr>
<h3>デモのシナリオ</h3>
<div class="steps-title">1. 超大型の台風が発生!! <br>強烈な風により多くの建物で被害が発生</div>
<div class="steps-title">2. 契約者宅のIOTセンサーが揺れを検知し、ブロックチェーン上に「危険」という情報を記録</div>
<div class="steps-title">3. 被害情報を査定機関が査定を実施<br>3社以上の査定機関が「工事要」と判断</div>
<div class="steps-title">4. スマートコントラクトにより自動で工事の入札募集</div>
<div class="text-danger steps-title">5. 建設会社は「見積もり」を行い、ブロックチェーンに応札額を登録<br>（次ページのp1-001）</div>
<div class="steps-title">6. 一定期間の後、落札処理が実行<br>「過去の評価」と「応札額」をもとに、工事を担当する建設会社が自動で決定</div>
<div class="steps-title">7. 工事実施</div>
<div class="steps-title">8. 保険契約者が工事の満足度を登録<br>（安かったけどイマイチ・・★1つ）</div>
<div class="steps-title">9. 数ヶ月後、再び超大型の台風が発生!!<br>再び査定機関が「工事要」と判断し、入札募集がかかる</div>
<div class="text-danger steps-title">10. 前回と同規模の被害だったため、各社は同額で応札額を登録<br>（次ページのp2-001）</div>
<div class="steps-title">11. 前回の満足度が反映され、今回はより良い建設会社が選ばれる</div>
<hr>
↓入札はこちらのボタンから
  <div class="row">
     {{macro.companyButton("primary", companyName, "建設", "const", "get")}}
  </div>
<br>
