<div class="container">
  <div class="row">
    {{macro.actionArea_top("success", "契約を締結", "addAgreements", "post")}}
        <select class="form-control" name="contractor">
        <option value="Person001">Person001</option>
        <option value="Person002">Person002</option>
        <option value="Person003">Person003</option>
        </select>
        <br>
        <select class="form-control" name="iot">
        <option value="IOT001">IOT001</option>
        <option value="IOT002">IOT002</option>
        <option value="IOT003">IOT003</option>
        <option value="IOT004">IOT004</option>
        <option value="IOT005">IOT005</option>
        <option value="IOT006">IOT006</option>
        <option value="IOT007">IOT007</option>
        </select>
        <hr>
    {{macro.actionArea_bottom("契約追加")}}

  </div>
</div>
<br>

