{% extends "layout.html" %}
{% block body %}

{% include "sonpo/header.html" %}
{% include "sonpo/action.html" %}

<div class="container">
  <div class="row">
    {{macro.infoArea_top("success", "保険契約者", ["契約者番号","氏名"])}}
    {{macro.infoArea_content(responses["contractors"])}}
    {{macro.infoArea_top("primary", "IoTの状況", ["ID","Status"])}}
    {{macro.infoArea_content(responses["iotHouses"])}}
  </div>
</div>

{% endblock %}

